@define-mixin abs-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@define-mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@define-mixin column-item $number, $spacing {
  width: calc(100% / $number);
  margin-top: $spacing;

  &:nth-child(-n + $number) {
    margin-top: 0;
  }
}

@define-mixin container {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;

  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;

	@media (--sm) {
		max-width: var(--container-max-sm);
	}

	@media (--md) {
		max-width: var(--container-max-md);
	}

	@media (--lg) {
		max-width: var(--container-max-lg);
	}

	@media (--xl) {
		max-width: var(--container-max-xl);
	}

	@media (--xxl) {
		max-width: var(--container-max-xxl);
	}
}
